{% extends 'CidetsiBaseBundle:Crud:read.html.twig' %}

{% block body %}
<section>
    <div class="container">
        {{ include('CidetsiBaseBundle:Block:flashbag.html.twig') }}
        <h1>{{ entity.name }}</h1>
        <p class="lead">{{ entity.facultad }}</p>
    
        <h2>Agregar carrera</h2>
        {{ form(form) }}
    </div>
</section>
{% endblock %}
