{% extends 'CidetsiBaseBundle:Crud:read.html.twig' %}

{% block body %}
<section>
    <div class="container">
        {{ include('CidetsiBaseBundle:Block:flashbag.html.twig') }}
        <h1>{{ entity.name }}</h1>
        {{ include('CidetsiDepartamentosBundle:Departamento:Tasks/element.html.twig', {
            'view': false,  'edit': true, 'delete': true
        }) }}
    </div>
</section>
{% endblock %}
