{% extends 'CidetsiBaseBundle:Crud:index.html.twig' %}

{% block preamble %}
    {{ parent() }}
    <p>Estas son las materias que posee la facultad de ciencias y
    tecnologia.</p>
    {{ include('CidetsiMateriasBundle:Materia:Tasks/collection.html.twig') }}
{% endblock %}

{% block items %}
{{ include('CidetsiMateriasBundle:Materia:Tasks/element.html.twig', {
    'view': true, 'edit': true, 'delete': true
}) }}
{% endblock %}
