<br />
<div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default">Agregar</button>
</div>
<br />
<br />
<table class="table table-striped table-condensed table-bordered table-hover">
    <tr>
        <th>Código</th>
        <th>Materia</th>
        <th>Nº Grupos</th>
        <th>&nbsp;</th>
    </tr>
{% for materia in departamento.materias %}
    <tr>
        <td>{{ materia.code }}</td>
        <td>{{ materia.name }}</td>
        <td>{{ materia.grupos|length }}</td>
        <td class="text-center">
            <span class="glyphicon glyphicon-search"></span>
            <span class="glyphicon glyphicon-search"></span>
            <span class="glyphicon glyphicon-search"></span>
        </td>
    </tr>
{% endfor %}
</table>

