<br />
<div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default">Agregar</button>
</div>
<br />
<br />
<table class="table table-condensed table-bordered">
    <tr class="active">
        <th>Nivel</th>
        <th>Código</th>
        <th>Materia</th>
        <th>Carrera</th>
        <!--<th>&nbsp;</th>-->
    </tr>
{% for materia in materias %}
    {% for malla in materia %}
    <tr>
        <td>{{ malla.level }}</td>
        <td>{{ malla.code }}</td>
        <td>{{ malla.name }}</td>
        <td>
        {% for carrera in malla.carrera %}
            {{ carrera }}<br/>
        {% endfor %}
        </td>
        <!--<td class="text-center">
            <span class="glyphicon glyphicon-search"></span>
            <span class="glyphicon glyphicon-search"></span>
            <span class="glyphicon glyphicon-search"></span>
        </td>-->
    </tr>
    {% endfor %}
    <tr class="active"><td colspan="5"></td></tr>
{% endfor %}
</table>

