{% extends 'CidetsiBaseBundle:Crud:read.html.twig' %}

{% block body %}
<section>
    <div class="container">
        {{ include('CidetsiBaseBundle:Block:flashbag.html.twig') }}
        <h1>{{ entity.name }}</h1>
        <p class="lead">{{ entity.departamento }}</p>
        {{ include('CidetsiMateriasBundle:Materia:Tasks/element.html.twig', {
            'view': false, 'edit': true, 'delete': true, 'admin': true
        }) }}
        <br />
    </div>
</section>
{% endblock %}
