{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><span>Carreras</span></li>
</ol>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1>Carreras</h1>
        <p>Estas son las carreras que posee la facultad de ciencias y
        tecnologia.</p>

        {# include('CidetsiDepartamentoBundle:Departamento:_tasks_departamentos.html.twig') #}
        <div class="panel-group" id="accordion">
        {% for entity in entities %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{ entity.id }}">
                            {{ entity.name }}
                        </a>
                    </h2>
                </div>
                <div id="collapse{{ entity.id }}"
                     class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ include('CidetsiDepartamentoBundle:Departamento:_list_materias.html.twig') }}
                        {# include('CidetsiDepartamentoBundle:Departamento:_tasks_departamento.html.twig', {
                            'view': true,
                            'edit': true,
                            'delete': true
                        }) #}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
