syntax: glob
*~
*.swp
*.orig
*.tmp.
*.bak
*.log
*.aux
*.out
*.synctex.gz
*.toc

.svn
.cache/
.settings/

.buildpath
.project

/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters_dev.yml
/app/config/parameters_prod.yml

docs/implantation/data/05-materias.sql
docs/implantation/data/06-docentes.sql
docs/implantation/data/07-auxiliares.sql

LICENSE
README.md
UPGRADE*.md

