* {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.left { float: left; }
.right { float: right; }

body>header {
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    background-color: #4A9BD1;
    box-shadow: 0px -0.15em 0.20em #505657 inset;
}

body>header a {
    color: #F2F2F2;
    font-size: 0.85em;
}

header>nav:nth-child(1) { float: left; }
header>nav:nth-child(2) { float: right; }

nav>ul {
    list-style: none;
    float: left;
}

nav>ul>li {
    float: left;
}

nav>ul>li>a {
    float: left;
    padding: 0.5em 0.8em;
}

nav>ul>li>a:hover {}

body>footer {
    position: fixed;
    bottom: 0px;
    left: 10%;
    right: 10%;
    background-color: #2D2E2F;
    box-shadow: 0px -0.15em 0.20em #505657;
    border-radius: 0.5em 0.5em 0em 0em;
    padding-left: 1.0em;
    padding-right: 1.0em;
}

body>footer a {
    color: #F2F2F2;
    font-size: 0.7em;
}

body>div {
    margin-top: 2.0em;
}

h1 {
    font-size: 1.15em;
}
