<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group">
            <a class="btn btn-default btn-info"
               href="{{ path('materia_create_get') }}">Agregar</a>
        </div>
    </div>
</div>
