{% extends '::base.html.twig' %}

{% block body %}
<section>
    <div class="container">
        <h1>Departamentos</h1>
        <p>Estos son los departamentos en la facultad de ciencias y tecnologia,
        para los que este sistema gestiona información.</p>
        <ul class="list-group">
        {% for item in list %}
            <li class="list-group-item">{{ item.name }}</li>
        {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
