<table>
    <tr>
        <td width="450px">
            <strong class="size10">UNIVERSIDAD MAYOR DE SAN SIMÓN</strong><br />
            <strong class="size10">FACULTAD DE CIENCIAS Y TECNOLOGÍA</strong><br />
            <strong class="size10">{{ departamento.name|upper }}</strong><br />
            <strong class="size8">Cochabamba - Bolivia</strong>
        </td>
    </tr>
</table>

