<p>
<strong style="font-size:12px;">UNIVERSIDAD MAYOR DE SAN SIMÓN</strong><br />
<strong style="font-size:12px;">FACULTAD DE CIENCIAS Y TECNOLOGÍA</strong><br />
<strong style="font-size:12px;">{{ departamento.name|upper }}</strong><br />
<strong style="font-size:11px;">Cochabamba - Bolivia</strong>
</p>

