{% include('CidetsiPdfReportsBundle:Default:style.css.twig') %}

<table class="grid">
    <tr>
        <th>NIVEL</th>
        <th>CÓDIGO</th>
        <th>MATERIA</th>
        <th>CARRERA</th>
    </tr>
{% for materia in materias %}
    {% for malla in materia %}
    <tr>
        <td class="text-center">{{ malla.level }}</td>
        <td class="text-center">{{ malla.code }}</td>
        <td>{{ malla.name }}</td>
        <td>
        {% for carrera in malla.carrera %}
            {{ carrera|upper }}<br/>
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <tr class="active"><td colspan="4"></td></tr>
{% endfor %}
</table>

