{% extends '::base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ path('departamento') }}">Departamentos</a></li>
    <li class="active"><a href="{{ path('departamento_new') }}">Crear nuevo</a></li>
</ol>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1>Editar departamento</h1>
        {{ form(edit_form) }}
    </div>
    {#{ form(delete_form) }#}
</section>
{% endblock %}
