{% extends 'CidetsiBaseBundle:Crud:update.html.twig' %}

{% block body %}
<section>
    <div class="container">
        <h1>Editar departamento</h1>
        {{ form(edit_form) }}
    </div>
</section>
{% endblock %}
