<style>
    * { font-size: 8px; }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    td { vertical-align: top; }
    table.grid, table.grid tr>td { border: 1px solid #000000; }
    th { font-weight: normal; }
    
    .left { text-align: left; }
    .center { text-align: center; }
    .right { text-align: right; }

    .size8 { font-size: 8px; }
    .size9 { font-size: 9px; }
    .size10 { font-size: 10px; }
    .size11 { font-size: 11px; }
    
    .stretch { line-height: 0.975em; }
    .field { border-bottom: 1px solid #000000; }
</style>

<table>
    <tr>
        <td width="250px"><strong class="size10">UNIVERSIDAD MAYOR DE SAN SIMON</strong><br />
            <strong class="size8">DEPARTAMENTO DE PLANIFICACION ACADEMICA</strong><br />
            <strong class="size10">COCHABAMBA - BOLIVIA</strong>
        </td>
        <td width="138px">&nbsp;</td>
        <td width="100px" class="right">
            <span class="size8">FOR DPA - 002</span>
        </td>
    </tr>
</table>
<div class="space size10">&nbsp;</div>
<h1 class="center size11">FORMULARIO DE SOLICITUD DE NOMBRAMIENTO<br />AUXILIAR UNIVERSITARIO</h1>

<ol class="size9">
    <li><p class="size9">Nombre del Universitario para quien se solicita
        nombramiento como Auxiliar de la Universidad Mayor de San Simón</p>
        <table>
            <tr>
                <td width="60px">&nbsp;</td>
                <td width="280px"><strong class="size10">CABALLERO BURGOA CARLOS EDUARDO</strong></td>
                <td width="100px"><strong class="size10">CI: 5907402-CBBA</strong></td>
            </tr>
        </table>
    </li>
    <li><p class="size9">CARRERA QUE SOLICITA LA NOMINACION: <strong>INFORMATICA</strong></p></li>
    <li><p class="size9">DEPARTAMENTO: <strong>INFORMATICA-SISTEMAS</strong></p></li>
    <li><p class="size9">FACULTAD: <strong>CIENCIAS Y TECNOLOGIA</strong></p></li>
    <li><p class="size9">CATEGORIA DEL NOMBRAMIENTO SOLICITADO:</p>
        <table>
            <tr>
                <td width="90px">&nbsp;</td>
                <td width="80px">INTERINO:</td>
                <td width="40px" class="center field">X</td>
                <td width="50px">&nbsp;</td>
                <td width="80px">TITULAR:</td>
                <td width="40px" class="center field">X</td>
            </tr>
        </table>
    </li>
    <li><p class="size9">CATEGORIA DEL NOMBRAMIENTO SOLICITADO:</p>
        <table>
            <tr>
                <td width="90px">&nbsp;</td>
                <td width="80px">DOCENCIA:</td>
                <td width="40px" class="center field">X</td>
                <td width="50px">&nbsp;</td>
                <td width="80px">INTERACCION:</td>
                <td width="40px" class="center field">X</td>
            </tr>
            <tr>
                <td width="90px">&nbsp;</td>
                <td width="80px">INVESTIGACION:</td>
                <td width="40px" class="center field">X</td>
                <td width="50px">&nbsp;</td>
                <td width="80px">SERVICIOS:</td>
                <td width="40px" class="center field">X</td>
            </tr>
            <tr>
                <td width="90px">&nbsp;</td>
                <td width="80px">LABORATORIO:</td>
                <td width="40px" class="center field">X</td>
                <td width="50px">&nbsp;</td>
            </tr>
        </table>
    </li>
    <li><p class="size9">Asignatura(s) (materias, módulos, seminario) que dictará:
        &nbsp;HRS. SEMANA: <strong>1</strong>
        &nbsp;HRS. MES: <strong>4</strong></p>
        <table>
            <tr>
                <td width="20px">&nbsp;</td>
                <td width="20px">A)</td>
                <td width="300px">Laboratorio de Desarrollo de Software</td>
                <td width="40px">LAB</td>
                <td width="40px">1</td>
            </tr>
        </table>
    </li>
    <li><p class="size9">NOMBRAMIENTO A PARTIR DE:
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>20/08/2013</strong></p>
    </li>
    <li><p class="size9">TIEMPO DE DURACION DEL NOMBRAMIENTO:
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>UN SEMESTRE</strong></p>
    </li>
    <li><p class="size9">FECHA DE SOLICITUD:
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>25/11/2013</strong></p>
    </li>
</ol>
<div class="size10">&nbsp;</div>
<table>
    <tr>
        <td width="184px">&nbsp;</td>
        <td width="120px" class="center field"></td>
        <td width="184px">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">Lic. Henrry Villarroel Tapia</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">JEFE DE DEPARTAMENTO</td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="size10">&nbsp;</div>
<div class="size10">&nbsp;</div>
<table>
    <tr>
        <td width="74px">&nbsp;</td>
        <td width="120px" class="center field"></td>
        <td width="100px">&nbsp;</td>
        <td width="120px" class="center field"></td>
        <td width="74px">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">Ing. Jose Luis Balderrama Idina</td>
        <td>&nbsp;</td>
        <td class="center">Ing. Msc. Hernan Flores Garcia</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">DIRECTOR ACADEMICO F.C.Y.T.</td>
        <td>&nbsp;</td>
        <td class="center">Vo. Bo. DECANO</td>
        <td>&nbsp;</td>
    </tr>
</table>
