<style>
    * {
        font-size: 8px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    td {
        vertical-align: top;
    }
    table.grid, table.grid tr>td {
        border: 1px solid #000000;
    }
    th {
        font-size: 0.90em;
        font-weight: normal;
    }
    
    .left { text-align: left; }
    .center { text-align: center; }
    .right { text-align: right; }

    .size1 { font-size: 8px; }
    .size2 { font-size: 10px; }
    .size3 { font-size: 7px; }
    .size4 { font-size: 5px; }
    
    .stretch {
        line-height: 0.975em;
    }
    
    .field { border-bottom: 1px solid #000000; }
</style>

<table>
    <tr>
        <td class="left" width="200px">UNIVERSIDAD MAYOR DE SAN SIMON<br />VICE RECTORADO</td>
        <td class="center" width="250px">
            <strong class="size2">SEGUIMIENTO ACADEMICO AUXILIAR</strong>
        </td>
        <td class="left" width="193px">
            <strong class="size2">II/2013</strong>
        </td>
        <td class="right stretch" width="110px">
            D.I.C. Y T.-D.P.A.-D.I.S.U.<br />
            DCA-15-02/02<br />Periodo Académico II/2013
        </td>
    </tr>
</table>
<div class="space size2">&nbsp;</div>
<table>
    <tr>
        <td class="center" rowspan="2" width="70px">AUXILIAR:</td>
        <td class="center size2 field" width="138px">CARLOS EDUARDO</td>
        <td class="center size2 field" width="138px">CABALLERO</td>
        <td class="center size2 field" width="138px">BURGOA</td>
        <td class="center size2 field" width="138px">&nbsp;</td>
        <td rowspan="2" width="21px">C.I.:</td>
        <td class="center size2 field" width="110px">5907402-Cbba</td>
    </tr>
    <tr>
        <td class="center">NOMBRE(S)</td>
        <td class="center">AP. PATERNO</td>
        <td class="center">AP. MATERNO</td>
        <td class="center">AP. DEL ESPOSO</td>
        <td class="center">&nbsp;</td>
    </tr>
</table>
<div class="space size2">&nbsp;</div>
<table>
    <tr>
        <th width="15px">&nbsp;</th>
        <th width="150px">FACULTAD</th>
        <th width="15px">&nbsp;</th>
        <th width="120px">CARRERA</th>
        <th width="15px">&nbsp;</th>
        <th width="110px">DEPARTAMENTO</th>
        <th width="15px">&nbsp;</th>
        <th width="145px">MATERIAS</th>
        <th width="28px">SIGLA</th>
        <th width="30px">H.teor.</th>
        <th width="30px">H.prac.</th>
        <th width="40px" class="center" colspan="3">Anual</th>
        <th width="40px" class="center" colspan="3">Semestral</th>
    </tr>
    <tr>
        <td>1.</td><td class="field size3">CIENCIAS Y TECNOLOGIA</td>
        <td>1.</td><td class="field size3">INF-SIS</td>
        <td>1.</td><td class="field size3">INFORMATICA-SISTEMAS</td>
        <td>1.</td><td class="field size3">Laboratorio de Desarrollo de Software</td>
                   <td class="field">LAB</td>
                   <td class="field">0</td>
                   <td class="field">1</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
    <tr>
        <td>2.</td><td class="field">&nbsp;</td>
        <td>2.</td><td class="field">&nbsp;</td>
        <td>2.</td><td class="field">&nbsp;</td>
        <td>2.</td><td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
    <tr>
        <td>3.</td><td class="field">&nbsp;</td>
        <td>3.</td><td class="field">&nbsp;</td>
        <td>3.</td><td class="field">&nbsp;</td>
        <td>3.</td><td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
    <tr>
        <td>4.</td><td class="field">&nbsp;</td>
        <td>4.</td><td class="field">&nbsp;</td>
        <td>4.</td><td class="field">&nbsp;</td>
        <td>4.</td><td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
    <tr>
        <td>5.</td><td class="field">&nbsp;</td>
        <td>5.</td><td class="field">&nbsp;</td>
        <td>5.</td><td class="field">&nbsp;</td>
        <td>5.</td><td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
    <tr>
        <td>6.</td><td class="field">&nbsp;</td>
        <td>6.</td><td class="field">&nbsp;</td>
        <td>6.</td><td class="field">&nbsp;</td>
        <td>6.</td><td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
    <tr>
        <td>7.</td><td class="field">&nbsp;</td>
        <td>7.</td><td class="field">&nbsp;</td>
        <td>7.</td><td class="field">&nbsp;</td>
        <td>7.</td><td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
    <tr>
        <td>8.</td><td class="field">&nbsp;</td>
        <td>8.</td><td class="field">&nbsp;</td>
        <td>8.</td><td class="field">&nbsp;</td>
        <td>8.</td><td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td class="field">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
                   <td width="14px">&nbsp;</td><td width="12px" style="border: 1px solid #000000;">X</td><td width="14px">&nbsp;</td>
    </tr>
</table>
<div class="space size2">&nbsp;</div>
<table>
    <tr>
        <td width="130px">CATEGORIA DOCENTE</td>
        <td width="60px">A(Catedratico)</td>
        <td width="12px" style="border: 1px solid #000000;">X</td>
        <td width="40px">&nbsp;</td>
        <td width="50px">B(Docente)</td>
        <td width="12px" style="border: 1px solid #000000;">X</td>
        <td width="40px">&nbsp;</td>
        <td width="55px">C(Asistente)</td>
        <td width="12px" style="border: 1px solid #000000;">X</td>
        <td width="40px">&nbsp;</td>
        <td width="70px">Auxiliar docencia</td>
        <td width="12px" style="border: 1px solid #000000;">X</td>
        <td width="40px">&nbsp;</td>
        <td width="80px">Otro cargo UMSS</td>
        <td width="101px" class="field">&nbsp;</td>
    </tr>
</table>
<div class="space size2">&nbsp;</div>
<table class="grid">
    <tr>
        <td rowspan="2" class="center" width="51px">HORAS</td>
        <td colspan="5" class="center" width="117px">LUNES</td>
        <td colspan="5" class="center" width="117px">MARTES</td>
        <td colspan="5" class="center" width="117px">MIERCOLES</td>
        <td colspan="5" class="center" width="117px">JUEVES</td>
        <td colspan="5" class="center" width="117px">VIERNES</td>
        <td colspan="5" class="center" width="117px">SABADO</td>
    </tr>
    <tr>
        <td class="center" width="45px">Materia</td><td width="19px">GR</td><td width="19px">T-P</td><td width="17px">AL</td><td width="17px">AU</td>
        <td class="center" width="45px">Materia</td><td width="19px">GR</td><td width="19px">T-P</td><td width="17px">AL</td><td width="17px">AU</td>
        <td class="center" width="45px">Materia</td><td width="19px">GR</td><td width="19px">T-P</td><td width="17px">AL</td><td width="17px">AU</td>
        <td class="center" width="45px">Materia</td><td width="19px">GR</td><td width="19px">T-P</td><td width="17px">AL</td><td width="17px">AU</td>
        <td class="center" width="45px">Materia</td><td width="19px">GR</td><td width="19px">T-P</td><td width="17px">AL</td><td width="17px">AU</td>
        <td class="center" width="45px">Materia</td><td width="19px">GR</td><td width="19px">T-P</td><td width="17px">AL</td><td width="17px">AU</td>
    </tr>
    <tr>
        <td class="center">06:45-07:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">07:00-08:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">08:15-09:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">09:00-09:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">09:45-11:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">11:00-11:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">11:15-11:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">11:45-12:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">12:15-12:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">12:45-13:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">13:00-14:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">14:15-15:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">15:00-15:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">15:45-16:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">16:45-17:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">17:00-17:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">17:15-18:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">18:15-18:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">18:45-19:30</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">19:30-20:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">20:15-21:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">21:00-21:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
</table>
<div class="space size4">&nbsp;</div>
<table>
    <tr>
        <td width="80px">Hrs. Teoria</td>
        <td width="50px">0</td>
        <td width="80px">Hrs. Practica</td>
        <td width="50px">20</td>
        <td width="80px">Hrs. Producción</td>
        <td width="50px">&nbsp;</td>
        <td width="80px">R.C.F.Nº</td>
        <td width="50px">&nbsp;</td>
        <td width="161px">RESUMEN</td>
        <td width="72px">&nbsp;</td>
    </tr>
    <tr>
        <td>Hrs. Investigación</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>Hrs. Servicio acad.</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>TOTAL HORAS/SEMANA TRABAJADAS</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Hrs. Extensión</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>Hrs. Producc. acad.</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>TOTAL HORAS/MES TRABAJADAS</td>
        <td>80</td>
    </tr>
    <tr>
        <td>Hrs. Servicio</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>Hrs. Administ. acad.</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>TOTAL HORAS AUTORIZADAS</td>
        <td>80</td>
    </tr>
    <tr>
        <td colspan="8">&nbsp;</td>
        <td>TIEMPO PARCIAL</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Observaciones:</td>
        <td colspan="7">&nbsp;</td>
        <td>DEDICACIÓN EXCLUSIVA</td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="space size1">&nbsp;</div>
<div class="space size1">&nbsp;</div>
<table>
    <tr>
        <td width="20px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="150px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="20px">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">Firma del Auxiliar</td>
        <td>&nbsp;</td>
        <td class="center">Firma del Jefe de Dpto. o Carrera</td>
        <td>&nbsp;</td>
        <td class="center">Firma Director Académico</td>
        <td>&nbsp;</td>
        <td class="center">Firma Decano</td>
        <td>&nbsp;</td>
        <td class="center">Vo.Bo. Dpto. Personal</td>
        <td>&nbsp;</td>
    </tr>
</table>
