<style>
    * { font-size: 8px; }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 6px;
    }
    td.top { vertical-align: top; }
    table.grid, table.grid td { border: 1px solid #000000; }
    th { font-weight: normal; }
    
    .left { text-align: left; }
    .center { text-align: center; }
    .right { text-align: right; }

    .size5 { font-size: 5px; }
    .size7 { font-size: 7px; }
    .size8 { font-size: 8px; }
    .size10 { font-size: 10px; }
    .size15 { font-size: 15px; }
    
    .stretch { line-height: 0.975em; }
    .field { border-bottom: 1px solid #000000; }
    .square { border: 1px solid #000000; }
    .box { width: 100%; height: 5px;}
</style>
<table>
    <tr>
        <td width="200" class="size8">UNIVERSIDAD MAYOR DE SAN SIMON<br />VICE RECTORADO</td>
        <td width="250" class="center size10">
            <strong>SEGUIMIENTO ACADEMICO AUXILIAR</strong>
        </td>
        <td width="193" class="size10">
            <strong>II/2013</strong>
        </td>
        <td class="right stretch size8" width="110">
            D.I.C. Y T.-D.P.A.-D.I.S.U.<br />
            DCA-15-02/02<br />Periodo Académico II/2013
        </td>
    </tr>
</table>
<table>
    <tr>
        <td class="center size8 top" rowspan="2" width="70">AUXILIAR:</td>
        <td class="center size10 field" width="138">&nbsp;</td>
        <td class="center size10 field" width="138">&nbsp;</td>
        <td class="center size10 field" width="138">&nbsp;</td>
        <td class="center size10 field" width="138">&nbsp;</td>
        <td class="center size8 top" rowspan="2" width="21">C.I.:</td>
        <td class="center size10 field" width="110">&nbsp;</td>
    </tr>
    <tr>
        <td class="center size8">NOMBRE(S)</td>
        <td class="center size8">AP. PATERNO</td>
        <td class="center size8">AP. MATERNO</td>
        <td class="center size8">AP. DEL ESPOSO</td>
        <td class="center size8">&nbsp;</td>
    </tr>
</table>
<table>
    <tr>
        <th style="width:1.9920%;">&nbsp;</th>
        <th style="width:19.9203%;">FACULTAD</th>
        <th style="width:1.9920%;">&nbsp;</th>
        <th style="width:15.9362%;">CARRERA</th>
        <th style="width:1.9920%;">&nbsp;</th>
        <th style="width:14.6082%;">DEPARTAMENTO</th>
        <th style="width:1.9920%;">&nbsp;</th>
        <th style="width:19.2583%;">MATERIAS</th>
        <th style="width:3.7184%;">SIGLA</th>
        <th style="width:3.9840%;">H.teor.</th>
        <th style="width:3.9840%;">H.prac.</th>
        <th style="width:5.3120%;" class="center" colspan="3">Anual</th>
        <th style="width:5.3120%;" class="center" colspan="3">Semestral</th>
    </tr>
{% for i in 1..8 %}
    <tr>
        <th class="size7">{{ i }}.</th>
        <td class="field size7">&nbsp;</td>
        <th class="size7">{{ i }}.</th>
        <td class="field size7">&nbsp;</td>
        <th class="size7">{{ i }}.</th>
        <td class="field size7">&nbsp;</td>
        <th class="size7">{{ i }}.</th>
        <td class="field size7">&nbsp;</td>
        <td class="field size7 center">&nbsp;</td>
        <td class="field size7 center">&nbsp;</td>
        <td class="field size7 center">&nbsp;</td>
        <td style="width:1.9920%;" class="size7">&nbsp;</td>
        <td style="width:1.3280%;" class="square size7 center">&#10003;</td>
        <td style="width:1.9920%;" class="size7">&nbsp;</td>
        <td style="width:1.9920%;" class="size7">&nbsp;</td>
        <td style="width:1.3280%;" class="square size7 center">&nbsp;</td>
        <td style="width:1.9920%;" class="size7">&nbsp;</td>
    </tr>
{% endfor %}
</table>
<table>
    <tr>
        <td width="130px">CATEGORIA DOCENTE</td>
        <td width="60px" class="right">A (Catedratico)</td>
        <td width="10px" class="size15">&#9745;</td>
        <td width="40px">&nbsp;</td>
        <td width="50px" class="right">B (Docente)</td>
        <td width="10px" class="size15">&#9744;</td>
        <td width="40px">&nbsp;</td>
        <td width="55px" class="right">C (Asistente)</td>
        <td width="10px" class="size15">&#9744;</td>
        <td width="40px">&nbsp;</td>
        <td width="70px" class="right">Auxiliar docencia</td>
        <td width="10px" class="size15">&#9744;</td>
        <td width="40px">&nbsp;</td>
        <td width="80px" class="right">Otro cargo UMSS&nbsp;</td>
        <td width="101px" class="field">&nbsp;</td>
    </tr>
</table>
<table class="grid">
    <tr>
        <td rowspan="2" class="center size8" style="width:5%;">HORAS</td>
        <td colspan="5" class="center size8" style="width:15.8333%;">LUNES</td>
        <td colspan="5" class="center size8" style="width:15.8333%;">MARTES</td>
        <td colspan="5" class="center size8" style="width:15.8333%;">MIERCOLES</td>
        <td colspan="5" class="center size8" style="width:15.8333%;">JUEVES</td>
        <td colspan="5" class="center size8" style="width:15.8333%;">VIERNES</td>
        <td colspan="5" class="center size8" style="width:15.8333%;">SABADO</td>
    </tr>
    <tr>
    {% for i in 0..5 %}
        <td class="center size7" style="">Materia</td>
        <td class="center size7" style="width:1.8%">GR</td>
        <td class="center size7" style="width:1.8%">T-P</td>
        <td class="center size7" style="width:1.8%">AL</td>
        <td class="center size7" style="width:1.8%">AU</td>
    {% endfor %}
    </tr>
    <tr>
        <td class="center size7">06:45-07:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">07:00-08:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">08:15-09:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">09:00-09:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">09:45-11:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">11:00-11:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">11:15-11:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">11:45-12:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">12:15-12:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">12:45-13:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">13:00-14:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">14:15-15:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">15:00-15:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">15:45-16:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">16:45-17:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">17:00-17:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">17:15-18:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">18:15-18:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">18:45-19:30</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">19:30-20:15</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">20:15-21:00</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center size7">21:00-21:45</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
</table>
<table>
    <tr>
        <td width="80px">Hrs. Teoria</td>
        <td width="50px">0</td>
        <td width="80px">Hrs. Practica</td>
        <td width="50px">20</td>
        <td width="80px">Hrs. Producción</td>
        <td width="50px">&nbsp;</td>
        <td width="80px">R.C.F.Nº</td>
        <td width="50px">&nbsp;</td>
        <td width="161px">RESUMEN</td>
        <td width="72px">&nbsp;</td>
    </tr>
    <tr>
        <td>Hrs. Investigación</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>Hrs. Servicio acad.</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>TOTAL HORAS/SEMANA TRABAJADAS</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Hrs. Extensión</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>Hrs. Producc. acad.</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>TOTAL HORAS/MES TRABAJADAS</td>
        <td>80</td>
    </tr>
    <tr>
        <td>Hrs. Servicio</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>Hrs. Administ. acad.</td>
        <td>&nbsp;</td>
        <td>R.C.F.Nº</td>
        <td>&nbsp;</td>
        <td>TOTAL HORAS AUTORIZADAS</td>
        <td>80</td>
    </tr>
    <tr>
        <td colspan="8">&nbsp;</td>
        <td>TIEMPO PARCIAL</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Observaciones:</td>
        <td colspan="7">&nbsp;</td>
        <td>DEDICACIÓN EXCLUSIVA</td>
        <td>&nbsp;</td>
    </tr>
</table>
<div style="width:100%;height:40px;">&nbsp;</div>
<table>
    <tr>
        <td width="20px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="150px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="40px">&nbsp;</td>
        <td width="100px" class="field">&nbsp;</td>
        <td width="20px">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">Firma del Auxiliar</td>
        <td>&nbsp;</td>
        <td class="center">Firma del Jefe de Dpto. o Carrera</td>
        <td>&nbsp;</td>
        <td class="center">Firma Director Académico</td>
        <td>&nbsp;</td>
        <td class="center">Firma Decano</td>
        <td>&nbsp;</td>
        <td class="center">Vo.Bo. Dpto. Personal</td>
        <td>&nbsp;</td>
    </tr>
</table>
