<style>
    * { font-size: 8pt; }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    td {
        vertical-align: top;
        font-size: 10pt;
    }
    th { font-weight: normal; }

    .left { text-align: left; }
    .center { text-align: center; }
    .right { text-align: right; }

    .size5 { font-size: 5pt; }
    .size7 { font-size: 7pt; }
    .size8 { font-size: 8pt; }
    .size9 { font-size: 9pt; }
    .size10 { font-size: 10pt; }
    .size11 { font-size: 11pt; }
    .size15 { font-size: 15pt; }

    .field { border-bottom: 1px solid #000000; }
    .box { width: 100%; height: 5px;}
</style>

<table>
    <tr>
        <td width="250px">
            <strong class="size10">UNIVERSIDAD MAYOR DE SAN SIMON</strong><br />
            <strong class="size8">
                DEPARTAMENTO DE PLANIFICACION ACADEMICA</strong><br />
            <strong class="size10">COCHABAMBA - BOLIVIA</strong>
        </td>
        <td width="138px">&nbsp;</td>
        <td width="100px" class="right">
            <span class="size8">FOR DPA - 002</span>
        </td>
    </tr>
</table>

<div style="width:100%;height:4px;">&nbsp;</div>

<h1 class="center size11">FORMULARIO DE SOLICITUD DE NOMBRAMIENTO<br />
AUXILIAR UNIVERSITARIO</h1>

<p class="size10">1. Nombre del Universitario para quien se solicita
nombramiento como Auxiliar de la Universidad Mayor de San Simón:</p>

<table style="margin:0 0 0 5.0em;width:100%;">
    <tr>
        <td width="400px">
            <strong class="size10">CABALLERO BURGOA CARLOS EDUARDO</strong></td>
        <td><strong class="size10">CI: 5907402-CBBA</strong></td>
    </tr>
</table>

<p class="size10">2. CARRERA QUE SOLICITA LA NOMINACION:
    <strong>INFORMATICA</strong></p>
<p class="size10">3. DEPARTAMENTO: <strong>INFORMATICA-SISTEMAS</strong></p>
<p class="size10">4. FACULTAD: <strong>CIENCIAS Y TECNOLOGIA</strong></p>
<p class="size10">5. CATEGORIA DEL NOMBRAMIENTO SOLICITADO:</p>
<table>
    <tr>
        <td width="20%">&nbsp;</td>
        <td width="15%">INTERINO:</td>
        <td width="5%" class="center field">X</td>
        <td width="20%">&nbsp;</td>
        <td width="15%">TITULAR:</td>
        <td width="5%" class="center field">X</td>
        <td width="20%">&nbsp;</td>
    </tr>
</table>
<p class="size10">6. CATEGORIA DEL NOMBRAMIENTO SOLICITADO:</p>
<table>
    <tr>
        <td width="20%">&nbsp;</td>
        <td width="15%">DOCENCIA:</td>
        <td width="5%" class="center field">X</td>
        <td width="20%">&nbsp;</td>
        <td width="15%">INTERACCIÓN:</td>
        <td width="5%" class="center field">X</td>
        <td width="20%">&nbsp;</td>
    </tr>
    <tr>
        <td width="20%">&nbsp;</td>
        <td width="15%">INVESTIGACIÓN:</td>
        <td width="5%" class="center field">X</td>
        <td width="20%">&nbsp;</td>
        <td width="15%">SERVICIOS:</td>
        <td width="5%" class="center field">X</td>
        <td width="20%">&nbsp;</td>
    </tr>
    <tr>
        <td width="20%">&nbsp;</td>
        <td width="15%">LABORATORIO:</td>
        <td width="5%" class="center field">X</td>
        <td width="20%">&nbsp;</td>
        <td width="15%">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="20%">&nbsp;</td>
    </tr>
</table>
<p class="size10">7. Asignatura(s) (materias, módulos, seminario) que dictará:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HRS. SEMANA: <strong>1</strong>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HRS. MES: <strong>4</strong>
</p>
<table>
    <tr>
        <td width="5%">&nbsp;</td>
        <td width="5%">A)</td>
        <td width="60%">Laboratorio de Desarrollo de Software</td>
        <td width="15%">LAB</td>
        <td width="5%" class="right">1</td>
        <td width="10%">&nbsp;</td>
    </tr>
</table>
<p class="size10">8. NOMBRAMIENTO A PARTIR DE: <strong>20/08/2013</strong></p>
<p class="size10">9. TIEMPO DE DURACION DEL NOMBRAMIENTO:
    <strong>UN SEMESTRE</strong></p>
<p class="size10">10. FECHA DE SOLICITUD: <strong>25/11/2013</strong></p>

<div style="position: absolute;bottom: 5.0em;">
    <table style="margin-right: 8.0em;">
        <tr>
            <td width="184px">&nbsp;</td>
            <td width="120px" class="center field"></td>
            <td width="184px">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="center">Lic. Henrry Villarroel Tapia</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="center">JEFE DE DEPARTAMENTO</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div class="size10">&nbsp;</div>
    <div class="size10">&nbsp;</div>
    <table style="margin-right: 8.0em;">
        <tr>
            <td width="74px">&nbsp;</td>
            <td width="120px" class="center field"></td>
            <td width="100px">&nbsp;</td>
            <td width="120px" class="center field"></td>
            <td width="74px">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="center">Ing. Jose Luis Balderrama Idina</td>
            <td>&nbsp;</td>
            <td class="center">Ing. Msc. Hernan Flores Garcia</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="center">DIRECTOR ACADEMICO F.C.Y.T.</td>
            <td>&nbsp;</td>
            <td class="center">Vo. Bo. DECANO</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
