<div class="container">
    <p>CIDETSI</p>
</div>

<!--<ul class="right">
    <li><a href="">Docentes</a></li>
    <li><a href="">Nombramientos</a></li>
    <li><a href="">Seguimientos</a></li>
</ul>-->