{% extends '::base.html.twig' %}

{% block body %}
<section>
    <div class="jumbotron">
        <div class="container">
            <div class="media">
                <div class="pull-left hidden-xs">
                    <img src="{{ asset('/bundles/cidetsibase/images/bushido.png') }}">
                </div>
                <div class="media-body">
                    <h2 class="media-heading">Apoyo administrativo</h2>
                    <p>Este el sitio del sistema de apoyo administrativo, este
                    sistema ha sido escrito para mejorar todos los procesos de
                    comunicación y acceso a la información en el interior de los
                    diferentes departamentos que integran la facultad de
                    ciencias y tecnologia; ademas de facilitar el intercambio
                    de servicios y la interoperabilidad con otros sistemas.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for url, details in items %}
                {{ include('CidetsiBaseBundle:Default:items.html.twig') }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
