<div class="col-md-2 col-sm-3 col-xs-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a href="{{ path(url) }}">
                    {{ details.label|upper }}</a>
            </h2>
        </div>
        <div class="panel-body">
            <p>{{ details.description }}</p>
        </div>
    </div>
</div>
