<ul>
    <li><a href="{{ path('cidetsi_base_homepage') }}">Inicio</a></li>
    <li><a href="{{ path('cidetsi_departamento_homepage') }}">Departamentos</a></li>
    <li><a href="">Autoridades</a></li>
</ul>